@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(0.8362 0.1033 146.93);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
    --primary: oklch(0.8362 0.1033 146.93);
    --primary-foreground: oklch(0 0 0);
    --muted: oklch(0.12 0.01 285);
    --muted-foreground: oklch(0.7 0.01 285);
    --accent: oklch(0.12 0.01 285);
    --accent-foreground: oklch(0.9 0.01 285);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
