@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: oklch(0.145 0.02 255);
  --primary: oklch(0.8362 0.1033 146.93);
  --primary-foreground: oklch(0.2 0.02 146);;
  --secondary: oklch(0.96 0.005 255);
  --secondary-foreground: oklch(0.25 0.01 255);
  --muted: oklch(0.94 0.01 255);
  --muted-foreground: oklch(0.45 0.02 255);
  --accent: oklch(0.92 0.015 255);
  --accent-foreground: oklch(0.15 0.02 255);
  --border: oklch(0.91 0.01 255);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: oklch(0.12 0.01 255);
  --foreground: oklch(0.98 0.005 255);

  --primary: oklch(0.8362 0.1033 146.93);
  --primary-foreground: oklch(0.1 0.02 146);

  --muted: oklch(0.18 0.02 255);
  --muted-foreground: oklch(0.65 0.02 255);

  --accent: oklch(0.22 0.02 255);
  --accent-foreground: oklch(0.95 0.01 255);

  --border: oklch(0.22 0.02 255);
  --ring: var(--primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
